<%- include('header', {title:"Approved Requests"}); -%>

    <div class="container">
        <table class="table" style="width:90vw">
            <thead>
                <tr>
                    <th>Request Id</th>
                    <th>Patient Id</th>
                    <th>Hospital Id</th>
                    <th>Blood Type</th>
                    <th>Quantity</th>
                    <th>Approved</th>
                    <th>Time</th>
                    <!-- id, patient_id, hospital_id, blood_type, quantity, approved, time -->
                </tr>
            </thead>
            <tbody>
                <% request_details.forEach(function (item) { %>
                    <tr>
                        <td>
                            <%= item.id %>
                        </td>
                        <td>
                            <%= item.patient_id %>
                        </td>
                        <td>
                            <%= item.hospital_id %>
                        </td>

                        <td>
                            <%= item.blood_type %>
                        </td>
                        <td>
                            <%= item.quantity %>
                        </td>
                        <td>
                            <%= item.approved %>
                        </td>
                        <td>
                            <%= item.time %>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>

    <div class="container">
        <form method="post" action="/patient/available-blood">
            <button type="submit" class="btn btn-primary">Go Back</button>
        </form>
    </div>
<%- include('footer'); -%>