<%- include('header', {title:"Pending Requests"}); -%>

<% if(request_details.length>0) { %>
    <div class="container">
        <div class="big-table-parent">
            <table class="table" >
                <thead>
                    <tr>
                        <th>Request Id</th>
                        <th>Patient Id</th>
                        <th>Hospital Id</th>
                        <th>Blood Type</th>
                        <th>Quantity</th>
                        <th>Status</th>
                        <th>Approve</th>
                        <!-- id, patient_id, hospital_id, blood_type, quantity, approved, time -->
                    </tr>
                </thead>
                <tbody>
                    <% request_details.forEach(function (item) { %>
                        <tr>
                            <td>
                                <%= item.id %>
                            </td>
                            <td>
                                <%= item.patient_id %>
                            </td>
                            <td>
                                <%= item.hospital_id %>
                            </td>

                            <td>
                                <%= item.blood_type %>
                            </td>
                            <td>
                                <%= item.quantity %>
                            </td>
                            <td>
                                <%= item.approved %>
                            </td>
                            
                            <td>
                                <form method="post" action="/hospital/requests">
                                <div class="col-md-4 mb-3">
                                    <input type="hidden" class="form-control " name="request_id" id="request_id" value=<%= item.id%> placeholder="Request id" >
                                </div>
                                <button type="submit" class="btn btn-primary">Approve</button>
                            </form>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
       </div>
    </div>

    <!-- <a class="nav-link" href="/hospital/approved-request">See Approved Request</a>
    <a class="nav-link" href="/hospital/rejected-request">See Rejected Request</a> -->


    <% } else { %>

        <h2>No request received yet.</h2>
 <%}%>

    
    <%- include('footer'); -%>